{% extends "app/student/user_layout.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'app/student/menu.css' %}">
{% endblock %}

{% block pagecontent %}
    {% if message %}
        <h2 style="color: red;"><center>{{message}}</center></h3>
    {% endif %}
    <form action="{% url 'menu' %}" method="POST">
        {% csrf_token %}
        {% for food in foods %}
            <div class="post">
                <div class="info-food">
                    <b>{{food.name}}</b>
                    <b style="color:mediumturquoise;">{{food.price}}$</b>
                </div>
                <div class="quantity">
                    <button type="button" class="btn-quantity" onclick="addPrice('{{food.price}}', this.parentNode.querySelector('[type=number]').value, -1);this.parentNode.querySelector('[type=number]').stepDown();">
                      -
                    </button>
                  
                    <input type="number" name="{{food.id}}" min="0" max="10" value="0" readonly>
                  
                    <button type="button" class="btn-quantity" onclick="addPrice('{{food.price}}', this.parentNode.querySelector('[type=number]').value, 1);this.parentNode.querySelector('[type=number]').stepUp();" >
                      +
                    </button>
                </div>
            </div>
        {% endfor %}
        <div class="center">
            <button type="submit" id="order">Order 0 products for 0.00$</button>    
        </div>
    </form>

    <script type="text/javascript">
        var total_price = 0;
        var num_products = 0;
        const cart_btn = document.getElementById('order');
        const max_val = 10;

        function addPrice(price, value, mult) {
            if ((value < max_val && value >= 0  && mult == 1) || (value <= max_val && value > 0  && mult == -1)){
                num_products += mult;
                total_price = total_price + (Number(price) * mult);
                if (total_price.toFixed(2) <= 0.00){
                    total_price == 0.00;
                }
                cart_btn.textContent = 'Order ' + num_products + ' products for ' + total_price.toFixed(2) + '$';
                console.log(total_price);
            }
        }
    </script>
{% endblock %}