{% extends "app/student/user_layout.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'app/student/orders.css' %}">
{% endblock %}

{% block pagecontent %}
    <script>
        function calculateTotalPrice(orderId, quantity, price) {
            const total = (quantity * price).toFixed(2);
            document.getElementById('total-price-' + orderId).innerText = total;
        }
    </script>
    {% for order in orders %}
        <div class="order">
            <div class="order-time">
                Order: {{order.0.instant_purchase}}
            </div>
            <ul class="food-list">
                {% for food_order in order.1 %}
                    <li>
                        <strong>{{ food_order.food.name }}</strong> - 
                        Quantity: {{ food_order.quantity }} -
                        Total Price: <span id="total-price-{{ food_order.id }}">Calculating...</span>
                        <script>
                            calculateTotalPrice({{ food_order.id }}, {{ food_order.quantity }}, {{ food_order.food.price }});
                        </script>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endblock %}